@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --ff-primary: 'SF Pro', 'Roboto', sans-serif;
    
    --fw-reg: 400;
    --fw-bold: 900;

    --fc-color:  #343F54;

    --clr-bg-header: #FFFFFF;
    --clr-bg-main: #CCCCCC;
    --clr-blue: #46A6FF;
    --clr-nirvana: #9D91E4;
    --clr-mobile: #5C9FA4;
    --clr-optimize:  #FEC85D;
    --clr-christmas: #D8719C;

}


body {
    min-height: 100%;
    line-height: 1.7;
    font-family: var(--ff-primary);
    margin: 0 auto;
}

ul {
    list-style-type: none;
}

.header-container {
    width: 100%;
    height: 64px;
    margin: 0 auto;
    background: var(--clr-bg-header);
    border-bottom: solid 2px #E4E9F2;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo-img {
    width: 60%;
}

img {
    width: 104px;
    height: 32px;
    margin-right: 11px;
    margin-top: 16px;
    margin-left: 16px;
    margin-bottom: 20px;
}

.navbar {
    width: 40%;
    margin: 0 auto;
}

.navbar a {
    font-weight: 600;
    font-size: 15px;
    line-height: 22.5px;
    color: var(--clr-blue);
    text-decoration: none;
}

.nav-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.list-item {
    font-size: 1rem;
    color: var(--clr-blue);
    cursor: pointer;
}

ul li {
    display: inline-block;
    position: relative;
}

ul li:hover {
     padding-bottom: 7px;
}

ul li:nth-child(1):hover::after {
    content: '';
    position: absolute;
    top: 100%;
    background: var(--clr-blue);
    width: 5px;
    height: 5px;
    border-radius: 100%;
    left: calc(65% - 8px);

}

ul li:nth-child(2):hover:before {
    content: '';
    position: absolute;
    top: 100%;
    background: var(--clr-blue);
    width: 5px;
    height: 5px;
    border-radius: 100%;
    left: calc(65% - 8px);
}

ul li:nth-child(3):hover:before {
    content: '';
    position: absolute;
    top: 100%;
    background: var(--clr-blue);
    width: 5px;
    height: 5px;
    border-radius: 100%;
    left: calc(55% - 8px);
}

ul li:nth-child(4):hover:before {
    content: '';
    position: absolute;
    top: 100%;
    background: var(--clr-blue);
    width: 5px;
    height: 5px;
    border-radius: 100%;
    left: calc(55% - 8px);
}

.burger-menu {
    color: var(--clr-accent);
    font-size: var(--fs-h2);
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
}


.list-item a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.list-item a:hover {
    color: var(--clr-blue);
     padding-bottom: 7px;
}

.main-container {
    width: 100%;
    margin: 44px auto;
}

.intro {
    width: 49%;
    margin: 44px auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.intro-title {
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
}

.intro-subtitle {
    font-weight: 400;
    font-style: normal;
    font-size: 19px;  
}

.content-container {
    width: 51%;
    margin: 0 auto;
}

.container-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.goal {
    width: 288px;
    height: 252px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
}

@keyframes loader {

    0% {
        width: 0;
    }

    20% {
        width: 10%;
    }

    25% {
        width: 24%;
    }

    43% {
        width: 41%;
    }

    56% {
        width: 50%;
    }

    71% {
        width: 60%;
    }
}

.progress-bar {
    padding-top: 1rem;
    padding-right: 1rem;
    width: 256px;
    height: 29px;
    margin: 0 auto;
}

span {
    display: block;
}

.bar {
    width: 256px;
    height: 4px; 
    border-radius: 2px;
    background-color: var(--clr-bg-main);
}

.progress {
    animation: loader 8s ease infinite;
    background-color: var(--clr-bg-header);
    border-radius: 2px;
    padding: 2px;
    width: 0;
}

.progress-bar p {
    padding-top: 5px;
    font-weight: 400;
    font-size: 13px;
    color: black;
    letter-spacing: 0.1em;
}

.info {
    width: 256px;
    height: 49px;
    color: var(--clr-bg-header);
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 15px;
    letter-spacing: 0.125em;
}

.info h2 {
    font-weight: 600;
    font-size: 19px;
    line-height: 28.5px;
}

.info p {
    font-weight: 400;
    font-size: 13px;
    line-height: 19.5px;    
}

.client-list {
    width: 288px;
    height: 252px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    color: var(--clr-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.client-list_title {
    width: 256px;
    height: 29px;
    margin-top: 135px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 50px;
}

.client-list_title h2 {
    font-weight: 600;
    font-size: 19px;
    line-height: 28.5px;
    text-align: center;
}

.goal:nth-child(1) {
    background-image: url('../Images/mirage-searching.png');
    background-repeat: no-repeat;
    background-size: 175px 174px;
    background-position: center;
    background-color: var(--clr-blue);
}

.goal:nth-child(2) {
    background-image: url('../Images/mirage-list-is-empty.png');
    background-repeat: no-repeat;
    background-size: 175px 174px;
    background-position: center;    
    background-color: var(--clr-nirvana);
}

.goal:nth-child(3) {
    background-image: url('../Images/mirage-upgrade.png');
    background-repeat: no-repeat;
    background-size: 175px 174px;
    background-position: center;   
    background-color: var(--clr-mobile);
}

.goal:nth-child(4) {
    background-image: url('../Images/mirage-come-back-later.png');
    background-repeat: no-repeat;
    background-size: 175px 174px;
    background-position: center;   
    background-color: var(--clr-optimize);
}

.goal:nth-child(5) {
    background-image: url('../Images/mirage-downloading.png');
    background-repeat: no-repeat;
    background-size: 175px 174px;
    background-position: center;   
    background-color: var(--clr-christmas);
}

.client-list:nth-child(6) {
    background-image: url('../Images/Icon.png');
    background-repeat: no-repeat;
    background-size: 48px 48px;
    background-position: center;   
    background-color: var(--clr-bg-header);
}

.copyright {
  background-color: var(--bg-color);
  padding: 1.25rem;
  text-align: center;
  margin-top: 5rem auto;
}

.copyright a {
    list-style: none;
    text-decoration: none;
    color: var(--clr-bg-main);
}

@media only screen and (max-width: 420px){

   nav ul {
    position: fixed;
    background-color: var(--clr-bg-header);
    flex-direction: column;
    top: 100px;
    left: 10%;
    width: 80%;
    text-align: center;
    transform: translateX(120%);
    transition: transform 0.5s ease-in;
  }
       .burger-menu {
    display: block;
  }

    nav ul.show {
    transform: translateX(0);
  }



.main-container {
    margin: 44px auto;
}

.intro {
    width: 50%;
    margin: 44px auto;
    text-align: center;
}

.intro-title {
    font-size: 24px;
}

.intro-subtitle {
    font-size: 10px;  
}

.content-container {
    width: 50%;
    margin: auto;
}

.container-wrapper {
    justify-content: center;
}

.info {
    width: 200px;
    height: 49px;
}

.info h2 {
    font-size: 12px;
}

.info p {
 font-size: 10px;  
}

.progress-bar {

    width: 200px;

}

.bar {
    width: 200px;

}

.progress-bar p {
    font-size: 9px;
    color: black;
    letter-spacing: 0.1em;
}

.client-list_title {
    width: 200px;
}

.client-list_title h2 {
    font-size: 17px;
    text-align: center;
}

.copyright {
  display: flex;
  flex-direction: column;
}

}
